# Folders
vendor/
.idea/
reports/
bin/
public/
.vscode/

# Files
.DS_Store
-template
.scannerwork
coverage
*.swp
local.env
test
*.zip
full_test.py
recursive_full_test.py
signalfx2terraform

# Terraform
*.terraform
terraform.d/*
*.tfstate.backup
*.tf
